# Git
.git
.gitignore
.gitattributes

# Maven
.mvn/
mvnw
mvnw.cmd
target/

# IDE & Configuração de Editor
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs e Arquivos de Build
*.log

# Infraestrutura, Documentação e Orquestração Local
docs/
k8s/
terraform/
docker-compose.yml
README.md

# O próprio Dockerfile e o .dockerignore não precisam ser copiados para a imagem
Dockerfile
.dockerignore